* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.App {
    overflow-wrap: break-word;
}
.main {
    background: #0079BF;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: calc(100vh - 110px);
    overflow: auto;
    padding: 10px;
}
.main::-webkit-scrollbar {
    width: 12px;
    margin-left: 10px;
    background: #FFF;
}
.main::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #CBCBCB;
}
@media screen and (max-width: 615px) {
    .main {
        height: 100vh;
        justify-content: center;
    }
}
.stage {
    color: #000;
    display: flex;
    flex-direction: column;
    width: 282px;
    height: max-content;
    margin: 5px;
    padding: 0 0 10px 15px;
    border-radius: 10px;
    background: #EBECF0;
    max-height: 90%;
}
.stage__content {
    overflow-y: auto;
    overflow-x: hidden;
}
.stage__content::-webkit-scrollbar {
    width: 12px;
    background: #FFF;
}
.stage__content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #CBCBCB;
}
.stage__content::-webkit-scrollbar-corner {
    border-radius: 10px;
}